# PyCity Schools Analysis

In [1]:
import pandas as pd
from pathlib import Path

In [2]:
school_csv_path = Path("../Resources/schools_complete.csv")
student_csv_path = Path("../Resources/students_complete.csv")

In [3]:
school_data = pd.read_csv(school_csv_path)
student_data = pd.read_csv(student_csv_path)

In [4]:
school_data_complete = pd.merge(student_data, school_data, how= "left", on="school_name")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [5]:
school_count = school_data_complete['school_name'].nunique()
print(school_count)

15

In [6]:
student_count = school_data_complete['Student ID'].nunique()
student_count

39170

In [7]:
total_budget = school_data_complete['budget'].unique().sum()
total_budget

24649428

In [8]:
average_math_score = school_data_complete['math_score'].mean()
average_math_score

78.98537145774827

In [9]:
average_reading_score = school_data_complete['reading_score'].mean()
average_reading_score

81.87784018381414

In [10]:
passing_math_count = school_data_complete[(school_data_complete['math_score'] >=70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count)*100
passing_math_percentage

74.9808526933878

In [11]:
passing_reading_count = school_data_complete[(school_data_complete['reading_score'] >=70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count)*100
passing_reading_percentage

85.80546336482001

In [12]:
passing_math_reading_count = school_data_complete[
    (school_data_complete['math_score'] >=70) & (school_data_complete['reading_score'] >=70)].count() ['student_name']
overall_passing_rate = passing_math_reading_count / float(student_count) * 100
overall_passing_rate

65.17232575950983

In [116]:
district_summary = pd.DataFrame(
    {'Total Unique Schools': [school_count], 
     'Total Students': [student_count], 
    'Total Budget': [total_budget], 
     'Average Math Score': [average_math_score],
     'Average Reading Score': [average_math_score], 
     'Passing Math Percetange': [passing_math_percentage],
     'Passing Reading Percentage': [passing_reading_percentage],
     'Overall Passing Percentage': [overall_passing_rate]})

district_summary

,Total Unique Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Passing Math Percetange,Passing Reading Percentage,Overall Passing Percentage
0,15,39170,24649428,78.985371,78.985371,74.980853,85.805463,65.172326

## School Summary

In [14]:
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [15]:
per_school_count = school_data.set_index(["school_name"])["size"]
per_school_count

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [16]:
per_school_budget = school_data.set_index(["school_name"])["budget"]
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [17]:
per_school_capita = per_school_budget / per_school_count
per_school_capita

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [18]:
per_school_math = school_data_complete.groupby(["school_name"])["math_score"].mean()
per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [19]:
per_school_reading = school_data_complete.groupby(["school_name"])["reading_score"].mean()
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [20]:
students_passing_math = school_data_complete[(school_data_complete['math_score'] >=70)]
school_students_passing_math = students_passing_math.groupby("school_name")["student_name"].count()
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [21]:
students_passing_reading = school_data_complete[(school_data_complete['reading_score'] >=70)]
school_students_passing_reading = students_passing_reading.groupby("school_name")["student_name"].count()
school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [22]:
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [23]:
per_school_passing_math = school_students_passing_math / per_school_count * 100
per_school_passing_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [24]:
per_school_passing_reading = school_students_passing_reading / per_school_count * 100
per_school_passing_reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [25]:
overall_passing_rate = school_students_passing_math_and_reading / per_school_count * 100
overall_passing_rate

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [26]:
per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [27]:
per_school_summary = pd.DataFrame(
    {'School Name': school_types, 
     'Total Students': per_school_count, 
     'Total School Budget': per_school_budget, 
     'Per Student Budget': per_school_capita, 
     'Average Math Score': per_school_math,
     'Average Reading Score': per_school_reading, 
     'Percentage Passing Math': per_school_passing_math,
     'Percentage Passing Reading': per_school_passing_reading, 
     'Percentage Overall Passing': overall_passing_rate})


per_school_summary

,School Name,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

## Highest-Performing Schools (by % Overall Passing)

In [31]:
top_schools = pd.DataFrame(per_school_summary)
sorted_top_schools = top_schools.sort_values(by='Percentage Overall Passing', ascending=False)
sorted_top_schools.head(5)

,School Name,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (by % Overall Passing)

In [35]:
bottom_schools = pd.DataFrame(per_school_summary)
sorted_bottom_schools = top_schools.sort_values(by="Percentage Overall Passing", ascending=True)
sorted_bottom_schools.head(5)

,School Name,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

In [66]:
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

ninth_grader_math_scores = school_data_complete.groupby(["school_name"])["math_score"].mean()
tenth_grader_math_scores = school_data_complete.groupby(["school_name"])["math_score"].mean()
eleventh_grader_math_scores = school_data_complete.groupby(["school_name"])["math_score"].mean()
twelfth_grader_math_scores = school_data_complete.groupby(["school_name"])["math_score"].mean()

math_scores_by_grade = pd.DataFrame(
    {'9th Grade Math Scores': ninth_grader_math_scores,
    '10th Grade Math Scores': tenth_grader_math_scores,
     '11th Grade Math Scores': eleventh_grader_math_scores,
     '12th Grade Math Scores': twelfth_grader_math_scores})

math_scores_by_grade.index.name = None

math_scores_by_grade

,9th Grade Math Scores,10th Grade Math Scores,11th Grade Math Scores,12th Grade Math Scores
Bailey High School,77.048432,77.048432,77.048432,77.048432
Cabrera High School,83.061895,83.061895,83.061895,83.061895
Figueroa High School,76.711767,76.711767,76.711767,76.711767
Ford High School,77.102592,77.102592,77.102592,77.102592
Griffin High School,83.351499,83.351499,83.351499,83.351499
Hernandez High School,77.289752,77.289752,77.289752,77.289752
Holden High School,83.803279,83.803279,83.803279,83.803279
Huang High School,76.629414,76.629414,76.629414,76.629414
Johnson High School,77.072464,77.072464,77.072464,77.072464
Pena High School,83.839917,83.839917,83.839917,83.839917
Rodriguez High School,76.842711,76.842711,76.842711,76.842711
Shelton High School,83.359455,83.359455,83.359455,83.359455
Thomas High School,83.418349,83.418349,83.418349,83.418349
Wilson High School,83.274201,83.274201,83.274201,83.274201
Wright High School,83.682222,83.682222,83.682222,83.682222

## Reading Scores by Grade

In [117]:
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

ninth_grade_reading_scores = school_data_complete.groupby(["school_name"])["reading_score"].mean()
tenth_grader_reading_scores = school_data_complete.groupby(["school_name"])["reading_score"].mean()
eleventh_grader_reading_scores = school_data_complete.groupby(["school_name"])["reading_score"].mean()
twelfth_grader_reading_scores = school_data_complete.groupby(["school_name"])["reading_score"].mean()

reading_scores_by_grade = pd.DataFrame(
    {'9th Grade Reading Scores': ninth_grade_reading_scores,
    '10th Grade Reading Scores': tenth_grader_reading_scores,
     '11th Grade Reading Scores': eleventh_grader_reading_scores,
     '12th Grade Reading Scores': twelfth_grader_reading_scores})


reading_scores_by_grade.index.name = None

reading_scores_by_grade

,9th Grade Reading Scores,10th Grade Reading Scores,11th Grade Reading Scores,12th Grade Reading Scores
Bailey High School,81.033963,81.033963,81.033963,81.033963
Cabrera High School,83.975780,83.975780,83.975780,83.975780
Figueroa High School,81.158020,81.158020,81.158020,81.158020
Ford High School,80.746258,80.746258,80.746258,80.746258
Griffin High School,83.816757,83.816757,83.816757,83.816757
Hernandez High School,80.934412,80.934412,80.934412,80.934412
Holden High School,83.814988,83.814988,83.814988,83.814988
Huang High School,81.182722,81.182722,81.182722,81.182722
Johnson High School,80.966394,80.966394,80.966394,80.966394
Pena High School,84.044699,84.044699,84.044699,84.044699
Rodriguez High School,80.744686,80.744686,80.744686,80.744686
Shelton High School,83.725724,83.725724,83.725724,83.725724
Thomas High School,83.848930,83.848930,83.848930,83.848930
Wilson High School,83.989488,83.989488,83.989488,83.989488
Wright High School,83.955000,83.955000,83.955000,83.955000

## Scores by School Spending

In [83]:
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [84]:
school_spending_df = per_school_summary.copy()

In [89]:
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budge"],
                                                             spending_bins, labels, include_lowest=True)
school_spending_df["Spending Ranges (Per Student)"] = school_spending_df["Spending Ranges (Per Student)"].astype(str)
school_spending_df

,School Name,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,"(585.0, 630.0]"
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,"(-0.001, 585.0]"
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,"(630.0, 645.0]"
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,"(630.0, 645.0]"
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,"(585.0, 630.0]"
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,"(645.0, 680.0]"
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,"(-0.001, 585.0]"
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,"(645.0, 680.0]"
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,"(645.0, 680.0]"
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,"(585.0, 630.0]"
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,"(630.0, 645.0]"
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,"(585.0, 630.0]"
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,"(630.0, 645.0]"
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,"(-0.001, 585.0]"
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,"(-0.001, 585.0]"

In [95]:
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Percentage Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Percentage Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Percentage Overall Passing"].mean()

spending_summary = pd.DataFrame(
    {'Spending Average Math Score': spending_math_scores,
     'Spending Average Reading Score': spending_reading_scores,
     'Spending Passing Math Percentage': spending_passing_math,
     'Spending Passing Reading Percentage': spending_passing_reading,
     'Overall Spending Passing Percentage': overall_passing_spending})
spending_summary

,Spending Average Math Score,Spending Average Reading Score,Spending Passing Math Percentage,Spending Passing Reading Percentage,Overall Spending Passing Percentage
Spending Ranges (Per Student),,,,,
"(-0.001, 585.0]",83.455399,83.933814,93.460096,96.610877,90.369459
"(585.0, 630.0]",81.899826,83.155286,87.133538,92.718205,81.418596
"(630.0, 645.0]",78.518855,81.624473,73.484209,84.391793,62.857656
"(645.0, 680.0]",76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size

In [96]:
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [97]:
school_size_df = per_school_summary.copy()

In [101]:
school_size_df["School Size"] = pd.cut(school_size_df["Total Students"],
                                                      size_bins, labels,
                                                      include_lowest=True)
school_size_df["School Size"] = school_size_df["School Size"].astype(str)
school_size_df

,School Name,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,"(2000.0, 5000.0]"
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,"(1000.0, 2000.0]"
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,"(2000.0, 5000.0]"
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,"(2000.0, 5000.0]"
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,"(1000.0, 2000.0]"
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,"(2000.0, 5000.0]"
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,"(-0.001, 1000.0]"
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,"(2000.0, 5000.0]"
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,"(2000.0, 5000.0]"
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,"(-0.001, 1000.0]"
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,"(2000.0, 5000.0]"
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,"(1000.0, 2000.0]"
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,"(1000.0, 2000.0]"
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,"(2000.0, 5000.0]"
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,"(1000.0, 2000.0]"

In [104]:
size_math_scores = school_size_df.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = school_size_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = school_size_df.groupby(["School Size"])["Percentage Passing Math"].mean()
size_passing_reading = school_size_df.groupby(["School Size"])["Percentage Passing Reading"].mean()
size_overall_passing = school_size_df.groupby(["School Size"])["Percentage Overall Passing"].mean()

size_summary = pd.DataFrame(
    {'Average Math Scores': size_math_scores,
     'Average Reading Scores': size_reading_scores,
    '% Passing Math': size_passing_math,
    '% Passing Reading':size_passing_reading,
    '% Overall Passing': size_overall_passing})

size_summary

,Average Math Scores,Average Reading Scores,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
"(-0.001, 1000.0]",83.821598,83.929843,93.550225,96.099437,89.883853
"(1000.0, 2000.0]",83.374684,83.864438,93.599695,96.790680,90.621535
"(2000.0, 5000.0]",77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

In [107]:
average_math_score_by_type = per_school_summary.groupby(["School Name"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Name"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Name"])["Percentage Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Name"])["Percentage Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Name"])["Percentage Overall Passing"].mean()

type_summary = pd.DataFrame(
    {'Average Math Score': average_math_score_by_type,
     'Average Reading Score': average_reading_score_by_type,
     'Percentage Passing Math': average_percent_passing_math_by_type,
     'Percentage Passing Reading': average_percent_passing_reading_by_type,
     'Percentage Overall Passing': average_percent_overall_passing_by_type})
type_summary

,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Overall Passing
School Name,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208